<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="alekseon" translate="label" sortOrder="150">
            <label>Alekseon Extensions</label>
        </tab>
        <section id="chat_gpt" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Chat Gpt</label>
            <tab>alekseon</tab>
            <resource>Alekseon_OpenAIApiClient::openaiapiclient_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="api_key" translate="label comment" type="obscure" sortOrder="40" showInDefault="1">
                    <label>Api Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
